asgiref==3.11.0
beautifulsoup4==4.12.2
certifi==2026.1.4
charset-normalizer==3.4.4
Django==4.2.11
django-extensions==4.1
idna==3.11
lxml==6.0.2
pillow==12.1.0
requests==2.31.0
setuptools==80.9.0
soupsieve==2.8.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wheel==0.45.1
